<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">
	
	<!-- Atlas Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Victor Chircu</author>
	<description>${project.parent.description}</description>

	<activator>${project.parent.groupId}.${project.parent.artifactId}.AtlasModuleActivator</activator>
	
	<!-- /Atlas Module Properties -->
	
	<require_version>${openMRSVersion}</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
	<privilege>
		<name>Manage Atlas Data</name>
		<description>Allows user to set/update/delete atlas data</description>
	</privilege>

        <globalProperty>
		<property>@MODULE_ID@.moduleVersion</property>
		<defaultValue>${project.parent.version}</defaultValue>
		<description>
		    Atlas Module Version
		</description>
	</globalProperty>

	
	<globalProperty>
		<property>@MODULE_ID@.numberOfPatients</property>
		<defaultValue>?</defaultValue>
		<description>
		    Stores the last calculated count of non-voided patients in the system ("?" if never calculated).
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.numberOfObservations</property>
		<defaultValue>?</defaultValue>
		<description>
		    Stores the last calculated count of non-voided observations in the system ("?" if never calculated).
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.numberOfEncounters</property>
		<defaultValue>?</defaultValue>
		<description>
		    Stores the last calculated count of non-voided encounters in the system ("?" if never calculated).
		</description>
	</globalProperty>
	
	
	
	<dwr>
		<allow>
			<create creator="new" javascript="DWRAtlasService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.dwr.DWRAtlasService"/>
				<include method="saveAtlasBubbleData"/>
				<include method="enableAtlasModule"/>
				<include method="disableAtlasModule"/>
				<include method="setIncludeSystemConfiguration"/>
				<include method="setPosition"/>
				<include method="updateAndGetStatistics"/>
				<include method="setZoom"/>
				<include method="getJsonData"/>
				<include method="setUsageDisclaimer"/>
				<include method="postAtlasData"/>
				<include method="getIsDirty"/>
				
			</create>
		</allow>

		<signatures>
			<![CDATA[import @MODULE_PACKAGE@.web.dwr.DWRAtlasService;
			DWRAtlasService.saveAtlasBubbleData(String latStr,	String lngStr, String name, String implementationTypeStr, String website, String imageURL, String notes, String contactName, String contactEmail, String includeNumberOfPatientsStr, String includeNumberOfObservationsStr, String includeNumberOfEncountersStr);
						
			DWRAtlasService.disableAtlasModule(String disclaimerAcceptedStr);
			
			DWRAtlasService.setIncludeSystemConfiguration(String includeSystemConfigurationStr);
			
			DWRAtlasService.setPosition(String latStr, String lngStr);
			
			DWRAtlasService.setZoom(String zoomStr);
			
			DWRAtlasService.setUsageDisclaimer(String acceptedStr);
			]]>
		</signatures>	
	</dwr>
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	

</module>
