  #atlas-edit-imgDiv  {
	display: inline;
	float: left;
  }
  
  .atlas-view-div, .atlas-edit-div {
	padding-top: 4px;
   }
  
  #atlas-view-lblName {
  	font-weight: bold;
  	font-size: 1.1em;
	width:200px;
	min-width: 200px;
  }
  
  #atlas-view-lblContactName {
  	font-weight: bold;
  	font-size: 1em;
  }
  
  #atlas-view-lblNotes {
  	font-size: 0.9em;
  }
  
   .placeholder,  .labelPlaceHolder {
  	color: #aaa;
  }
  
  .fail {
  	color: red;
  }
   
   #atlas-map-rightColumnDiv {
   	width:800px; 
   	height:500px;
   	float: left;
   	margin-left: 10px;
   }
   
   #atlas-gutter-leftColumnDiv {
   	width:25%;
   	float: left;
   }
   
   #atlas-map-canvas {
   	height: 100%;
   }
   
   .atlas-gutter-btnEnabled, .atlas-gutter-btnDisabled, .atlas-gutter-btnDisabledDisabled {
   	  width: 150px;
   	  font-size: 1.5em;
      height: 60px;
   	  padding-right: 10px;
      text-align: right;
   }
   
   .atlas-gutter-divCenter {
   	    margin: auto;
    	width: 130px;
    	height: 90px;
   }
   
   .atlas-gutter-btnEnabled{
   	   background: url("blue.png") no-repeat center left;
   }
   .atlas-gutter-btnDisabled {
   	   background: url("red.png") no-repeat center left;
   }
   
    .atlas-gutter-btnDisabledDisabled {
   	  background: url("black.png") no-repeat center left;
   }
   

  
   
 