  #atlas-edit-imgDiv  {
	display: inline;
	float: left;
  }
  
  .atlas-view-div, .atlas-edit-div {
	padding-top: 4px;
   }
  
  .site-bubble {
    font-family: Arial,san-serif;
    font-size: 1em;
}
.site-name {
    font-size: 1em;
    font-weight: bold;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 10px;
}
.site-image {
    float: left;
    margin: 5px 10px 5px 0;
}
.site-label {
    color: #AAAAAA;
    font-weight: normal;
}
div.site-type {
	clear: both;
    margin-bottom: 5px;
    margin-top: 8px;
}
span.site-type {
    background-color: #FFFFCD;
    border: 1px solid #E7E194;
    border-radius: 8px 8px 8px 8px;
    color: #777777;
    
    font-weight: normal;
    padding: 1px 4px 1px 5px;
    text-decoration: none;
    white-space: nowrap;
}
.site-url {
	margin-bottom: 6px;
}
.site-notes {
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    margin: 2px 0;
}
.site-notes legend {
    color: #CCCCCC;
    font-size: 0.8em;
    font-style: italic;
}
.site-contact {
    display: inline;
    font-weight: normal;
    margin-top: 6px;
}
.site-email {
    margin-left: 3px;
    vertical-align: middle;
}

#atlas-edit-containerDiv{
	width: 400px;
	height: 500px;
}

#atlas-view-containerDiv{
	width: 400px;
	height: 500px;
}
  
  #atlas-view-lblName {
  	font-weight: bold;
  	font-size: 1.1em;
	width:200px;
	min-width: 200px;
  }
  
  #atlas-edit-tbName {
	width:330px;
  }
  
  #atlas-view-lblNotes {
  	font-size: 0.9em;
  }
  
   .placeholder,  .labelPlaceHolder {
  	color: #aaa;
  }
  
  .fail {
  	color: red;
  }
   
   #atlas-map-rightColumnDiv {
   	width:800px; 
   	height:500px;
   	float: left;
   	margin-left: 10px;
   }
   
   #atlas-gutter-leftColumnDiv {
   	width:25%;
   	float: left;
   }
   
   #atlas-map-canvas {
   	height: 100%;
   }
   
   .atlas-gutter-btnEnabled, .atlas-gutter-btnDisabled, .atlas-gutter-btnDisabledDisabled {
   	  width: 150px;
   	  font-size: 1.5em;
      height: 60px;
   	  padding-right: 10px;
      text-align: right;
   }
   
   .atlas-gutter-divCenter {
   	    margin: auto;
    	width: 130px;
    	height: 90px;
   }
   
   .atlas-gutter-btnEnabled{
   	   background: url("blue.png") no-repeat center left;
   }
   .atlas-gutter-btnDisabled {
   	   background: url("red.png") no-repeat center left;
   }
   
    .atlas-gutter-btnDisabledDisabled {
   	  background: url("black.png") no-repeat center left;
   }
   

  
   
 