  #infoDiv, #infoDiv-edit {
	float: left;
	display: inline;
	background: 
  }
  #imgDiv, #imgDiv-edit  {
	display: inline;
	float: left;
  }
  #contactDiv, #contactDiv-edit {
	clear: both;
  }
  
  .floatLeft {
  	float: left;
  }
  
  .clearBoth {
  	clear: both;
  }
  #lblName
  {
  	font-weight: bold;
  	font-size: 1.1em;
	width:200px;
	min-width: 200px;
  }
  
  #lblContactName
  {
  	font-weight: bold;
  	font-size: 1em;
  }
  
  #lblNotes
  {
  	font-size: 0.9em;
  }
  
  
  .placeholder
  {
  	color: #aaa;
  }
  
  .labelPlaceHolder
  {
  	color: #aaa;
  }
  
  .fail 
  {
  	color: red;
  }
   
   #rightColumnDiv {
   	width:800px; 
   	height:500px;
   	float: left;
   }
   
   #leftColumnDiv {
   	width:25%;
   	float: left;
   }
   
   #mapCanvas {
   	height: 100%;
   }
   
   .btnEnabled {
   	  width: 150px;
   	  height: 80px;
   	  padding-right: 10px;
      text-align: right;
   	  background: url("/openmrs/moduleResources/atlas/green.jpeg") no-repeat center left;
   	  
   }
   
   .btnDisabled {
      width: 150px;
   	  height: 80px;
      padding-right: 10px;
      text-align: right;
   	  background: url("/openmrs/moduleResources/atlas/red.jpeg") no-repeat center left;
   }
   
  
   
 