  #infoDiv, #infoDiv-edit {
	float: left;
	display: inline;
	background: 
  }
  #imgDiv, #imgDiv-edit  {
	display: inline;
	float: left;
  }
  #contactDiv, #contactDiv-edit {
	clear: both;
  }
  
  .floatLeft {
  	float: left;
  }
  
  .clearBoth {
  	clear: both;
  }
  #lblName
  {
  	font-weight: bold;
  	font-size: 1.1em;
	width:200px;
	min-width: 200px;
  }
  
  #lblContactName
  {
  	font-weight: bold;
  	font-size: 1em;
  }
  
  #lblNotes
  {
  	font-size: 0.9em;
  }
  
  
  .placeholder
  {
  	color: #aaa;
  }
  
  .labelPlaceHolder
  {
  	color: #aaa;
  }
  
  .paginate_enabled_next 
  {
    float: right;
    height: 19px;
    margin-left: 3px;
    width: 19px;
  	background-image: url("/openmrs/moduleResources/atlas/next.jpg");
  }
  
  .paginate_enabled_previous
  {
  	float: right;
    height: 19px;
    margin-left: 3px;
    width: 19px;
  	background-image: url("/openmrs/moduleResources/atlas/back.jpg");
  }
  
  .fail 
  {
  	color: red;
  }
   
   #rightColumnDiv {
   	width:800px; 
   	height:500px;
   	float: left;
   }
   
   #leftColumnDiv {
   	width:25%;
   	float: left;
   }
   
   #mapCanvas {
   	height: 100%;
   }
   
   .btnEnabled, .btnDisabled, .btnDisabledDisabled {
   	  width: 150px;
   	  font-size: 1.5em;
      height: 60px;
   	  padding-right: 10px;
      text-align: right;
   	  
   	  
   }
   
   .divCenter {
   	    margin: auto;
    	width: 130px;
   }
   
   .btnEnabled{
   	   background: url("/openmrs/moduleResources/atlas/blue.png") no-repeat center left;
   }
   .btnDisabled {
   	   background: url("/openmrs/moduleResources/atlas/red.png") no-repeat center left;
   }
   
    .btnDisabledDisabled {
   	  background: url("/openmrs/moduleResources/atlas/black.png") no-repeat center left;
   }
   
  
   
 